<a href="https://colab.research.google.com/github/GeorgeKMaina/stroke-health-care-analysis/blob/main/Stroke_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries and Loading the Dataset

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
healthdata=pd.read_csv('/content/healthcare-dataset-stroke-data.csv')
healthdata.head()

      id  gender   age  ...   bmi   smoking_status stroke
0   9046    Male  67.0  ...  36.6  formerly smoked      1
1  51676  Female  61.0  ...   NaN     never smoked      1
2  31112    Male  80.0  ...  32.5     never smoked      1
3  60182  Female  49.0  ...  34.4           smokes      1
4   1665  Female  79.0  ...  24.0     never smoked      1

[5 rows x 12 columns]

# EDA AND DATA CLEANING

## Data Cleaning

#### Validity

- we will drop columns that are not necessary in our analysis
- we will rename values

#### Accuracy

#### Completness

check for missing/ null values

#### consistency

Look for duplicated records, if there any, we will drop them

#### Uniformity

- We will rename columns with messy names
- we will carry out data type conversion where necessary

## Univariate Analysis

## Bivariate Analysis

## Multivariate Analysis